<h1>My Goal</h1>
<hr>
<div class="container">
  <div class="row">
    <app-goal-form></app-goal-form>
  </div>
</div>
<div class="container">
  <ul>
    <div class="row" *ngFor='let goal of goals; let i=index'>
      <div class="row">
        <h4 appStrikeThrough> {{goal.name}} due on {{ goal.completeDate|date|uppercase}}</h4>
        <button class="btn btn-primary" (click)='toggleDetails(i)'>Toggle details</button> <br>
      </div>
      <div class="row" *ngIf="goal.showDescription">
        <app-goal-details [goal]='goal' (isComplete)='deleteGoal($event, i)'></app-goal-details>
      </div>
      
    </div>
  </ul>
</div>
<p *ngIf='goals.length > 5'>You have many Goals</p>