<div class="container">
  <div class="row">
    <form #goalForm='ngForm'>
      <div class="from-group">
        <label for="name">Name</label>
        <input type="text" required class="form-control" id="name" [(ngModel)]='newGoal.name' name='peter' #name='ngModel'>

        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p>Name is required</p>
        </div>
      </div><br>
      <div class="from-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description"  rows="4" required></textarea>

        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p>Name is required</p>
        </div>
      </div><br>
      <div class="from-group">
        <label for="complete">Completion</label>
        <input type="date" class="form-control"  id="complete" required>

        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p>Name is required</p>
        </div>
      </div> <br>
      <button type="Submit" class="btn btn-success btn-lg">Add Goal</button>
    </form>
  </div>
</div>
<br>
<hr>
<br><br>